@model Model.EF.SubmitFile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SelectFile";
    var examID = ViewBag.examID;
    var fileSubmit = (Model.EF.SubmitFile)ViewBag.fileSubmit;
}

<!DOCTYPE html>
<html>
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

@using (Html.BeginForm("SelectFile", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <body>
        <div class="container">
            <h2>Yêu cầu</h2>

            @*<div class="form-group">
                    <label>Bootstrap style button 1</label>
                    <input type="file" id="BSbtndanger">
                </div>
                <div class="form-group">
                    <label>Bootstrap style button 2</label>
                    <input type="file" id="BSbtnsuccess">
                </div>*@
            <div class="form-group">
                <label></label>
                @if (fileSubmit!=null)
                {
                    <a href="~/File/@fileSubmit.NameFile">File đã nộp: @fileSubmit.NameFile</a>
                    <br/>
                }
                <input type="file" id="BSbtninfo" name="file">
                <input type="text" hidden name="examID" value="@examID">
            </div>

            <div style="text-align:center">
                <input type="submit" value="Submit File" class="btn btn-info center" />
            </div>
            <br />
        </div>
        <script>
            $('#BSbtndanger').filestyle({
                buttonName: 'btn-danger',
                buttonText: ' File selection'
            });
            $('#BSbtnsuccess').filestyle({
                buttonName: 'btn-success',
                buttonText: ' Open'
            });
            $('#BSbtninfo').filestyle({
                buttonName: 'btn-info',
                buttonText: ' Select a File',
            });
        </script>
    </body>
}
</html>